h1{
   color:cadetblue; 
   font-family:'Courier New', Courier, monospace

}
body{
    color:beige;
}


h2{
    color:cadetblue; 
    font-family: 'Courier New', Courier, monospace
}
p{
    color:darkcyan;  
}