h1{
   color:cadetblue; 
   font-family:'Courier New', Courier, monospace

}
body{
    color:rgb(243, 231, 176);
}
h3{
    color:rgb(32, 149, 153);
}
h2{
    color:cadetblue; 
}
p{
    color:darkcyan;  
}